.idea
__pycache__/
*.pyc
data/
results/
argos_sim/ARGoS_simulation/data_generation_scripts/Results
assets/
checkered_canvas.py
fancy.png
fancy2.png
fancy3.png
field.png
fit_parameters.py
fixed_random_EXT_alpha.png
fixed_random_EXT_lambda.png
fixed_random_EXT_rho.png
half_time_alpha.png
half_time_lambda.png
half_time_rho.png
irace.Rdata
irace_plots.py
irace_plots
jump_noJump_alpha.png
jump_noJump_lambda.png
jump_noJump_rho.png
levy_distr.py
main_canvas.py
main_dict.py
performance.py
polyfit.png
radial_gradient.py
temp.py
with_xmin_10_-4.png
with_xmin_10_-4_without_fit.png
without_xmin.png
config/irace/
config/exploitation_*
.ipynb_checkpoints/
gradient_results.ipynb
linGradient_2bits.png
linGradient_3bits.png
linGradient_4bits.png
robot_pos_PP.ipynb
*.png
config/irace/*
irace_tuning/linear_2bits/results/*
